.nav-wrapper{
    background-color: #0a7feb;
    padding-left: 60px;
}
#nav-mobile{
    padding-left: 20%;
}
#search{
    margin-left: 55%;
    color: white;
}
#language{
   margin-left: 120px;
}
#myColor{
    background-color: #0a7feb;
}
hr{
    opacity: 30%;
}
#follow{
    opacity: 70%;
}
.social-media{
    background-color: #2a99fb;
    text-align: center;
    width: 20px;
    height: 20px;
    padding-top: 2.5px;
}
h2{
    text-align: center;
    color: #349efb;
}
.carousel{
    margin-top: -100px;
    margin-bottom: -100px;
}
h6{
    color: #2d9afb;
    font-weight: 700 !important;
    display: inline;
}
.fa-circle-check{
    color: #7fc4fd;
}
.link{
    color: #52acfc;
    margin-left: -10px !important;
}
.link:hover{
    text-decoration: underline;
}
.fa-circle{
    transform: scale(2);
    padding-right: 10px;
    padding-top: 10px;
    color: #2a99fb;
}
.text{
    color: #379ffb;
    margin-left: -10px !important;
}
.mini{
    transform: scale(0.9);
    margin-top: -5px !important;
    margin-left: -0.6% !important; 
}
.card-image{
    margin-top: -15px;
    width: 96%;
    padding-left: 4%;
}
.s1 .fa-twitter{
    padding-top: 10px;
    padding-left: 42%;
    color: #2a99fb;
}
.image-botton{
    width: 96%;
    margin-left: 2%;
    padding-left: 2%;
    padding-top: 10px;
    color: #7fc4fd;
}
.time{
    padding-left: 20px;
}
.fa-exclamation{
    transform: rotate(180deg);
    margin-left: 40%;
}
.card-content{
    margin-left: 2%;
}
.comments{
    padding-top: 10px;
    color: #b3dcfe;
    padding-bottom: 10px;
}
.separador{
    margin-left: 2px !important;
    width: 97%;
    border-color: #b3dcfe;
}
h4{
    color: #349efb;
    padding-left: 6px;
}
#quote{
    background-color: #f1f9ff;
    font-family: sans-serif;
}
#text-quote{
    font-size: 17px;
    color: #2a99fb;
}
#author{
    color: #9dd2fd;
    font-style: italic;
    padding-top: 6px;
}
th{
    color: #47a7fb;
    font-weight:500;
}